# Specify the docker image to use (only used if using docker runners)
# See: http://doc.gitlab.com/ee/ci/docker/using_docker_images.html
variables:
  GIT_DEPTH: "1"
  GIT_SSL_NO_VERIFY: "1"
  GIT_SUBMODULE_STRATEGY: recursive

stages:
  - build
  - cleanup

linux-test-build:
  tags:
    - ubuntu-18
  image: dev18-ci
  stage: build
  except:
    - tags
  script:
    - python3 ./scripts/packaging.py $PROJECT
    - mkdir -p smbtmp
    - mount -t cifs //$SMB_URL/IOT-Release/ci/account-manager smbtmp -o user=$SMB_USERNAME,iocharset=utf8,password=$SMB_PASSWORD
    - mkdir -p smbtmp/$PROJECT/linux-x86_64
    - cp account-manager.tar.gz smbtmp/$PROJECT/linux-x86_64 && umount smbtmp && rm -rf smbtmp

linux-release-build:
  tags:
    - ubuntu-18
  image: dev18-ci
  stage: build
  only:
    - tags
  except:
    - branches
  script:
    - python3 ./scripts/packaging.py $PROJECT      
    - mkdir -p smbtmp
    - mount -t cifs //$SMB_URL/IOT-Release/account-manager smbtmp -o user=$SMB_USERNAME,iocharset=utf8,password=$SMB_PASSWORD
    - mkdir -p smbtmp/$PROJECT/linux-x86_64
    - cp account-manager.tar.gz smbtmp/$PROJECT/linux-x86_64 && umount smbtmp && rm -rf smbtmp

windows-test-build:
  tags:
    - windows
  stage: build
  except:
    - tags
  before_script:
    - chcp 65001
  script:
    - CALL "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" amd64
    - tools\py\python.exe .\account-manager\scripts\packaging.py %PROJECT%
    - if exist "X:\" ( net use "X:" /delete /y )
    - net use /y "X:" "\\%SMB_URL%\IOT-Release\ci\account-manager" /u:"GORILLASCIENCE\%SMB_USERNAME%" %SMB_PASSWORD%
    - copy account-manager.zip X:\%PROJECT%\win-x86_64
    - net use "X:" /delete /y

windows-release-build:
  tags:
    - windows
  stage: build
  only:
    - tags
  except:
    - branches
  before_script:
    - chcp 65001
  script:
    - CALL "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" amd64
    - tools\py\python.exe .\account-manager\scripts\packaging.py %PROJECT%
    - if exist "X:\" ( net use "X:" /delete /y )
    - net use /y "X:" "\\%SMB_URL%\IOT-Release\account-manager" /u:"GORILLASCIENCE\%SMB_USERNAME%" %SMB_PASSWORD%
    - copy account-manager.zip X:\%PROJECT%\win-x86_64
    - net use "X:" /delete /y

windows-cleanup:
  tags:
    - windows
  stage: cleanup
  script:
    - echo "Time to clean up"
  after_script:
    - set "BUILD_DIR=%CI_PROJECT_DIR%"
    - set "BUILD_DIR=%BUILD_DIR:/=\%"
    - echo "Cleaning %BUILD_DIR%"
    - rmdir /S /Q %BUILD_DIR%
    - exit /b 0
         
  
